<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add Attendance Record Success</h5>
            <a class="close" onclick="location.reload();">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <div class="modal-body">
            <p>Attendance record successfully added.</p>
        </div>
        <div class="modal-footer">
            <button onclick="location.reload();" type="button" class="btn btn-secondary" data-dismiss="modal">Click to close</button>
        </div>
    </div>
</div>

