<nav class="navbar navbar-md bg-dark navbar-dark">
    <a style="border-top: 2px solid #999999;
        border-bottom: 2px solid #999999;"
       class="navbar-brand" asp-action="Index" asp-controller="AttendanceRecord">App Settings</a>
    <div class="mx-auto">
        <ul class="navbar-nav">
        </ul>
    </div>
</nav>