<asp:content contentplaceholderid="head" runat="server">
    <link rel="stylesheet" href="~/css/error404.css" type="text/css" media="screen" />
</asp:content>

<div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?
    <p>Let's go to the <a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a> and try from there.</p></div>
</div>
