@model Account

@{
    ViewData["Title"] = "Edit Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <h4>Edit Instructor</h4>
        <hr />
    </div>
</div>
<form asp-action="Edit">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountID" />
            <div class="form-group">
                <label asp-for="StudentID" class="control-label">Instructor</label>
                @*<input asp-for="DisciplineID" class="form-control" />*@
                <select class="form-control" asp-for="StudentID"
                        asp-items="@ViewBag.Students">
                </select>
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group" id="faeye1">
                <label asp-for="Password" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group">
                        <input asp-for="Password" class="form-control password" type="password">
                        <div class="input-group-append eyeBallContainer">
                            <div class="input-group-text border-0 bg-transparent">
                                <i onclick="loginPassword();" class="fas fa-eye" id="togglePassword"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" id="faeye">
                <label asp-for="Password2" class="control-label">Confirm Password</label>
                <div class="input-group">
                    <div class="input-group">
                        <input asp-for="Password2" class="form-control password" type="password">
                        <div class="input-group-append eyeBallContainer">
                            <div class="input-group-text border-0 bg-transparent">
                                <i onclick="loginPassword2();" class="fas fa-eye" id="togglePassword2"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password2" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="margin-top: 20px">
                <input style="float:right" type="submit" value="Save" class="btn btn-primary" />
                <div style="float:right; margin-right: 10px">
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                </div>
                <div style="float:right; margin-right: 10px">
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.AccountID">Delete</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#Password').removeAttr('data-val-required');
    </script>
    <script src="~/js/password.js"></script>
}
