@{
    ViewData["Title"] = "Reports Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Use id=main for all content to be pushed by the side nav. -->
<div id="main">
    <partial name="_ReportNav" />
    <div class="badge-success text-center">Select A Category</div>
</div>